.page-header
  %h1
    Comments for
    - if @version
      = link_to @project.title + " v" + @version.version_number, user_project_version_path(@user, @project, @version)
    - elsif @project
      = link_to @project.title, user_project_path(@user, @project)
    - elsif @user
      = link_to @user.login, user_path(@user)

- @comments.each do |comment|
  - if @version
    = render :partial => 'shared/comment', :locals => {:user => @user, :project => @project, :version => @version, :comment => comment, :destroy_path => 'version'}
  - elsif @user
    = render :partial => 'shared/comment', :locals => {:user => @user, :comment => comment, :destroy_path => 'user'}
