%h1.mb-4
  Advanced Search

.mb-4
  = form_tag projects_path, method: :get do
    .mb-3
      = label_tag 'search[title_like]', "Title include:", class: 'form-label'
      = text_field_tag 'search[title_like]', '', class: 'form-control'
    .mb-3
      = label_tag 'search[user_login_like]', "Created by user:", class: 'form-label'
      = text_field_tag 'search[user_login_like]', '', class: 'form-control'

    .mb-3
      = label_tag 'search[tagged_with]', "Tagged with:", class: 'form-label'
      = text_field_tag 'search[tagged_with]', '', class: 'form-control'

    .mb-3
      = label_tag 'search[category_is]', "Category:", class: 'form-label'
      = select_tag 'search[category_is]', options_from_collection_for_select(Category.all, 'id', 'name'), include_blank: true, class: 'form-select'

    .mb-3
      = label_tag 'search[danmakufu_version_is]', "Danmakufu Version:", class: 'form-label'
      = select_tag 'search[danmakufu_version_is]', options_from_collection_for_select(DanmakufuVersion.all, 'id', 'name'), include_blank: true, class: 'form-select'

    .d-grid
      = submit_tag "Search", class: "btn btn-outline-primary"

- if current_user && current_user.admin?
  %section.my-4.py-4
    .h2.mb-3
      Administrator Actions

    .mb-4
      = link_to "Unlisted projects", projects_path(search: { unlisted: true }), class: 'btn btn-outline-secondary'
