- form_tag projects_path, :class => 'formtastic' do
  = label_tag 'search[title_like]', "Title includes:"
  = text_field_tag 'search[title_like]'
  %br
  = label_tag 'search[user_login_like]', "Created by user:"
  = text_field_tag 'search[user_login_like]'
  %br
  = label_tag 'search[tagged_with]', "Tagged with:"
  = text_field_tag 'search[tagged_with]'
  %br
  = label_tag 'search[category_is]', "Category:"
  = select_tag 'search[category_is]', options_from_collection_for_select(Category.all, 'id', 'name'), :include_blank => true
  %br
  = label_tag 'search[danmakufu_version_is]', "Danmakufu Version:"
  = select_tag 'search[danmakufu_version_is]', options_from_collection_for_select(DanmakufuVersion.all, 'id', 'name'), :include_blank => true
  %br
  = submit_tag "Search", :id => "search_submit"
