= bootstrap_form_with model: @user, local: true do |f|
  = f.text_field :login, label: "Username"
  = f.email_field :email
  = f.password_field :password
  = f.password_field :password_confirmation
  = f.check_box :admin if has_role?(:admin)
  .my-3
    = recaptcha_tags if f.object.new_record?
  .d-grid
    = f.submit f.object.new_record? ? "Register" : "Save Changes", class: 'btn btn-outline-primary'
