%h1.text-danger.mb-4
  %i.fas.fa-exclamation-triangle.fa-fw
  Permanently Delete User:
  %span.text-capitalize= @user.login

%section.alert.alert-danger.bg-white
  %p Are you sure you want to delete this account?
  = form_tag user_path(@user), method: 'delete' do
    .row.g3.mb-2
      - if current_user == @user
        .col-auto
          = password_field_tag :password, '', class: 'form-control', placeholder: 'Type in your password...'
      .col-auto
        = submit_tag 'Delete Account!', class: 'btn btn-danger'
        = submit_tag 'Cancel', class: 'btn btn-outline-secondary'
