%section#user-list
  .page-header
    %h1
      Users

  = will_paginate @users, :inner_window => 2

  Order: &nbsp
  = order @user, :by => :created_at, :as => "Join Date"
  &nbsp
  = order @user, :by => :login, :as => "Username"
  &nbsp
  = order @user, :by => :projects_count, :as => "Project Count"

  %table.table{ :style => "margin-top:15px;"}
    %tr
      %th Username
      %th Join Date
      %th Project Count
    - @users.each do |user|
      %tr
        %td= link_to user.login, user_path(user)
        %td= user.created_at.strftime('%b %d %Y, %I:%m %p')
        %td= user.projects.count

  = will_paginate @users, :inner_window => 2
