.page-header
  %h1= @user.login

.btn-group
  %div= button_to "Edit Account", edit_user_path(@user), method: :get, class: 'btn' if can?(:update, @user)
  %div= button_to "Delete Account", user_delete_path(@user), method: :get, class: 'btn btn-danger' if can?(:destroy, @user)

#project-list
  - if can?(:update, @user) && !@user.projects.where(:unlisted => true).empty?
    %h2{ :style => "margin-top: 20px;"}
      Unlisted Projects
    -@user.projects.where(:unlisted => true).each do |p|
      = render :partial => 'shared/project', :locals => {:p => p}

  %h2{ :style => "margin-top: 20px;"}
    = @user.login
    's Projects
  - @user.projects.where(:unlisted => false).limit(5).each do |p|
    = render :partial => 'shared/project', :locals => {:p => p}
  = link_to "See all of "+@user.login+"'s projects", user_projects_path(@user)
