.page-header
  %h1= @user.login

%ul.nav.nav-pills
  %li= link_to "Edit Account", edit_user_path(@user) if can?(:update, @user)
  %li= link_to "Delete Account", user_path(@user), :method => :delete, :confirm => "Are you sure you want to delete this user?" if can?(:destroy, @user)

#project-list
  - if can?(:update, @user) && !@user.projects.where(:unlisted => true).empty?
    %h2{ :style => "margin-top: 20px;"}
      Unlisted Projects
    -@user.projects.where(:unlisted => true).each do |p|
      = render :partial => 'shared/project', :locals => {:p => p}

  %h2{ :style => "margin-top: 20px;"}
    = @user.login
    's Projects
  - @user.projects.where(:unlisted => false).limit(5).each do |p|
    = render :partial => 'shared/project', :locals => {:p => p}
  = link_to "See all of "+@user.login+"'s projects", user_projects_path(@user)

%h3
  User comments

- @user.comments.order("created_at DESC").limit(10).each do |comment|
  = render :partial => 'shared/comment', :locals => {:user => @user, :comment => comment, :destroy_path => 'user'}
= link_to "See all comments ("+@user.comments.count.to_s+")", user_comments_path(@user)

- if can?(:create, @user.comments.build)
  - form_for :comment, :url => user_comments_path(@user) do |f|
    = f.hidden_field :author_id, :value => current_user.id
    = f.text_area :content, :style => "width:400px; height:250px;"
    %br
    = f.submit 'Post Comment'
- else
  %p
    You must be logged in to comment.
