#login-bar
  - if can? :destroy, UserSession
  Logged in as
  = current_user.login
  %br
  = link_to "My Account", user_path(current_user)
  |
  = link_to "Log Out", logout_path
  - if can?(:create, :projects)
  |
  = link_to("New Project", new_user_project_path(current_user))
  - end
  - end
  - if can? :create, UserSession
  = link_to "Login", login_path
  |
  = link_to "Register", new_user_path
  - end
