<div id="login-bar">
  <% if current_user %>
    Logged in as <%= current_user.login %><br/>
    <%= link_to "My Account", user_path(current_user) %> |
    <%= link_to "Log Out", logout_path%><br />
  <% else %>
    <%= link_to "Login", login_path %> |
    <%= link_to "Register", new_user_path%><br />
  <% end %>
</div>
