- if !p.soft_deleted || can?(:manage, p)
  .card
    = preview_project_image p, :cover, image_options: { class: 'card-img-top' }
    .card-body
      %h5.card-title
        = h((p.soft_deleted ? "[DELETED BY ADMIN] " : "") + p.title)

    .span12
      %small
        by
        = link_to p.user.login, user_path(p.user)
  .row{ :style => "padding-bottom:10px;" }
    .span3{ :style => "text-align:center;"}
    .span9
      .row
        .span3
          %strong
            Version:
          = h p.version_number
          %br
          %strong
            Downloads:
          = p.downloads
        .span6
          %strong
            Category:
          = p.category.name
          %br
          %strong
            Danmakufu Version:
          = p.danmakufu_version.name
          %br
          %strong
            Tags:
          = tag_list(p)
          %br
          %br
          - if !p.description.blank?
            %p= truncate strip_tags(p.description), :length => 300
          - else
            %p No description
