- if !project.soft_deleted || can?(:manage, p)
  .card.mb-2
    .position-relative
      = preview_project_image project, :normal, image_options: { class: 'card-img-top' }
      .position-absolute.bottom-0.start-0.p-2.text-center.w-100
        %span.badge.rounded-pill.bg-secondary{ 'data-bs-toggle': 'tooltip', 'data-bs-placement': 'top', title: "Danmakufu Version: #{project.danmakufu_version.name}" }
          %i.fas.fa-torii-gate
          %span.ps-1
            = project.danmakufu_version.name
        %span.badge.rounded-pill.bg-secondary{ 'data-bs-toggle': 'tooltip', 'data-bs-placement': 'top', title: "Category: #{project.category.name}" }
          %i.fas.fa-gamepad
          %span.ps-1
            = project.category.name
        %span.badge.rounded-pill.bg-secondary{ 'data-bs-toggle': 'tooltip', 'data-bs-placement': 'top', title: "Downloads: #{project.downloads}" }
          %i.fas.fa-download
          %span.ps-1
            = project.downloads

    .card-body.text-center
      %h4.card-title.text-capitalize.text-truncate.fs-6{ title: project.title }
        = link_to project.soft_deleted ? "[DELETED BY ADMIN]" : project.title, user_project_path(project.user, project)
