<div class="project-index-block">
  <div class="heading">
    <div class="title">
      <%= link_to h(p.title), user_project_path(p.user, p) %>
    </div>
    <div class="stats">
      Win: <%= p.win_votes %> Fail: <%= p.fail_votes %><br />
      Downloads: <%= p.downloads %>
    </div>
  </div>
  <div class="preview">
    <%= preview_image p, :thumb %>
  </div>
  <div class="body">
    Author: <%= link_to p.user.login, user_path(p.user) %><br/>
    
    <% if p.versions.last %>
      Latest version: <%=h p.versions.last.version_number %><br/>
    <% else %>
      No versions<br/>
    <% end %>

    <br/>

    <% if p.versions.last && !p.versions.last.description.blank? %>
      <p><%=h truncate p.versions.last.description, 512 %></p>
    <% else %>
      <p>No description</p>
    <% end %>

    Category: <%= p.category.name %> |

    <% if p.tags %>
      Tags:
      <% p.tags.reverse.each do |tag| %>
        <%= link_to h(tag.name), projects_path(:search => {:tagged_with => tag.name}, :search_type => :tags) %>
      <% end %>
    <% else %>
      No description
    <% end %>
  </div>
</div>