.project-index-block
  .heading
    .title
      = link_to h(p.title), user_project_path(p.user, p)
    .stats
      Win:
      = p.win_votes
      Fail:
      = p.fail_votes
      %br
      Downloads:
      = p.downloads

  .preview
    = preview_image p, :thumb

  .body
    Author:
    = link_to p.user.login, user_path(p.user)
    %br
    - if p.versions.last
      Latest version:
      = h p.versions.last.version_number
      %br
    - else
      No versions
      %br
    %br
    - if p.versions.last && !p.versions.last.description.blank?
      %p= h truncate p.versions.last.description, :length => 512
    - else
      %p No description
    Category:
    = p.category.name
    |
    - if p.tags
      Tags:
      - p.tags.each do |tag|
        = link_to h(tag.name), projects_path(:search => {:tagged_with => tag.name}, :search_type => :tags)
    - else
      No description
