<% if current_user && current_user.owner_of?(project) %>
  <div id="author-options">
    <span id="author-options-heading">Author's options</span><br/>
    <%= link_to "New Version", new_user_project_version_path(user, project) %> |
    <%= link_to "Edit Version", edit_user_project_version_path(user, project, version) %> |
    <%= link_to "Delete Version", user_project_version_path(user, project, version), :method => :delete, :confirm => "Are you sure you want to delete this version?" %>
    <br />
    <%= link_to "Edit Project", edit_user_project_path(user, project) %> |
    <%= link_to "Delete Project", user_project_path(user, project), :method => :delete, :confirm => "Are you sure you want to delete this project?"%>
  </div>
<% end %>

<div id="project-show">
  <div class="heading">
    <%= project.title %>
    <span class="version-number">(v <%= version.version_number %>)</span>
  </div>

  <div class="body">
    <div class="project-left">
      <div id="images">
      </div>
      <div id="archive">
		<%=render :partial => 'shared/archive', :locals => {:user => user, :project => project, :version => version}%>
      </div>
      <div id="statistics">
        Version downloads: <%= version.download_count %><br />
        Total downloads: <%= project.downloads %><br />
        <br />
        Version win: <%= version.votes_for %><br />
        Version fail: <%= version.votes_against %><br />
        <br />
        Total win: <%= project.win_votes %><br />
        Total fail: <%= project.fail_votes %>
      </div>
    </div>

    <div class="project-right">
      Author: <%= link_to project.user.login, user_path(project.user) %><br/>
      Category: <%= project.category.name %><br/>
      <% if project.tags %>
        Tags:
        <% project.tags.each do |tag| %>
          <% link_to tag.name, projects_path(:search => {:tagged_with => tag.name}, :search_type => :tags) %>
        <% end %>
        <br/>
      <% end %>
      Last updated at: <%= project.versions.last.created_at %><br/>
      <br/>
      <%= version.description %>
    </div>
  </div>
</div>

  <% unless project.youtube_video_id.blank? %>
    <div id="youtube">
      <object width="425" height="344">
        <param name="movie" value=<%= "http://www.youtube.com/v/" + project.youtube_video_id %>> </param>
        <param name="allowFullScreen" value="true"> </param>
        <param name="allowscriptaccess" value="always"> </param>
        <embed src=<%= "http://www.youtube.com/v/" + project.youtube_video_id %>
               type="application/x-shockwave-flash"
               allowscriptaccess="always"
               allowfullscreen="true"
               width="425"
               height="344">
        </embed>
      </object>
    </div>
  <% end %>

  <div id="project-show-right">
      <br />
      <% if current_user %>
        <% if !current_user.voted_on?(version) && !current_user.owner_of?(version) %>
          <%= link_to "Vote Up", vote_up_user_project_path(user, project, version) %> |
          <%= link_to "Vote Down", vote_down_user_project_path(user, project, version) %><br />
        <% end %>
      <% else %>
        Please log in to vote.<br/>
      <% end %>

    <div id="versions">
      <h3>Versions</h3>
      <% project.versions.all(:order => 'created_at DESC').first(5).each do |v| %>
        <%= link_to project.title+' v'+v.version_number, user_project_version_path(user, project, v) %><br />
      <% end %>
      <%= link_to "See all versions", user_project_versions_path(user, project) %>
    </div>
  </div>


<h3>Comments for this version</h3>
<% version.comments.all(:order => 'created_at DESC').first(10).each do |comment| %>
  <%= render :partial => 'shared/comment', :locals => {:user => user, :project => project, :version => version, :comment => comment, :destroy_path => 'version'} %>
<% end %>
<%= link_to "See all comments ("+version.comments.count.to_s+")", user_project_version_comments_path(user, project, version)%>

<% if current_user %>
  <% form_for :comment, :url => user_project_version_comments_path(user, project, version) do |f| %>
    <%= f.hidden_field :author_id, :value => current_user.id %>
    <%= f.hidden_field :commentable_type, :value => 'Version' %>
    <%= f.hidden_field :commentable_id, :value => version.id %>
    <%= f.text_area :content %><br />
    <%= f.submit 'Post Comment' %>
  <% end %>
<% else %>
  <p>You must be logged in to comment or rate.</p>
<% end %>
