<h1><%= project.title %></h1>
<h2>Version <%= version.version_number %></h2>
<%= link_to "Download "+version.script_bundle_file_name, version.script_bundle.url %><br />
File size: <%= number_to_human_size(version.script_bundle.size) %><br />
<br />

<% if current_user && current_user.is_owner_of(project) %>	
  <%= link_to "New Version", new_user_project_version_path(user, project) %> |
  <%= link_to "Edit Version", edit_user_project_version_path(user, project, version) %> |
  <%= link_to "Delete Version", user_project_version_path(user, project, version), :method => :delete, :confirm => "Are you sure you want to delete this version?" %>
  <br />
  <%= link_to "Edit Project", edit_user_project_path(user, project) %> |
  <%= link_to "Delete Project", user_project_path(user, project), :method => :delete, :confirm => "Are you sure you want to delete this project?"%>
<% end %>

<p><%= version.description %></p>

<h3>Versions</h3>
<% project.versions.last(5).reverse.each do |v| %>
  <%= link_to project.title+' v'+v.version_number, user_project_version_path(user, project, v) %><br />
<% end %>
  <%= link_to "See all versions", user_project_versions_path(user, project) %>
