%section#featured-project
  - if @featured_project
    .page-header
      %h1 Featured Project
    .row
      .span6
        - unless @featured_project.youtube_video_id.blank?
          = render :partial => 'projects/youtube', :locals => {:project => @featured_project}
        - else
          = preview_project_image(@featured_project, :normal)
      .span6
        %h2= link_to @featured_project.title, user_project_path(@featured_project.user, @featured_project)
        %p
          %strong Author:
          = link_to @featured_project.user.login, user_path(@featured_project.user)
        %p
          %strong Tags:
          = tag_list(@featured_project)
        %p
          %strong Category:
          = @featured_project.category.name
        %p
          %strong Danmakufu Version:
          = @featured_project.danmakufu_version.name
        %p
          %strong Downloads:
          = @featured_project.downloads.to_s
        %p
          = truncate @featured_project.description, :length => 700
          = link_to "Read more", user_project_path(@featured_project.user, @featured_project)
        =link_to "Download Now", user_project_archive_path(@featured_project.user, @featured_project), :class => "btn btn-primary"

%section#popular-projects{ :style => "padding-top:30px;"}
  .page-header
    %h1 Popular Projects
  .row
    .span6
      %h3 Most Downloaded
      - Project.most_downloaded.each do |project|
        = link_to( project.title + " (" + project.downloads.to_s + " downloads)", user_project_path(project.user, project) )
        %br
      %br
      = link_to "See more...", projects_path(:search => {:order => :descend_by_downloads})

    .span6
      %h3
        Latest
      - Project.latest.each do |project|
        = link_to( project.title + " (" + project.created_at.strftime('%b %e %Y, %I:%M %p') + ")", user_project_path(project.user, project) )
        %br
      %br
      = link_to "See more...", projects_path(:search => {:order => :descend_by_created_at})