- if @featured_project
  .row.justify-content-center
    .card.col-8
      - unless @featured_project.youtube_video_id.blank?
        = render :partial => 'projects/youtube', :locals => {:project => @featured_project}
      - else
        = preview_image(@featured_project, :original, class: "card-img-top")
      .card-body
        %h5.card-title
          = @featured_project.title
        %p.card-text
          = truncate @featured_project.description, :length => 700
        %ul.list-group.list-group-flush
          %li.list-group-item.d-flex.justify-content-between
            %h5.mb-1 Author
            = link_to @featured_project.user.login, user_path(@featured_project.user)
          %li.list-group-item.d-flex.justify-content-between
            %h5.mb-1 Tags
            = tag_list(@featured_project)
          %li.list-group-item.d-flex.justify-content-between
            %h5.mb-1 Category
            %div= @featured_project.category.name
          %li.list-group-item.d-flex.justify-content-between
            %h5.mb-1 Danmakufu Version
            %div= @featured_project.danmakufu_version.name
          %li.list-group-item.d-flex.justify-content-between
            %h5.mb-1 Downloads
            %div= @featured_project.downloads.to_s
        =link_to "Download Now", user_project_archive_path(@featured_project.user, @featured_project), :class => "card-link"

%section#popular-projects{ :style => "padding-top:30px;"}
  .page-header
    %h1 Popular Projects
  .row
    .span6
      %h3 Most Downloaded
      - Project.most_downloaded.each do |project|
        = link_to( project.title + " (" + project.downloads.to_s + " downloads)", user_project_path(project.user, project) )
        %br
      %br
      = link_to "See more...", projects_path(:search => {:order => :descend_by_downloads})

    .span6
      %h3
        Latest
      - Project.latest.each do |project|
        = link_to( project.title + " (" + project.created_at.strftime('%b %e %Y, %I:%M %p') + ")", user_project_path(project.user, project) )
        %br
      %br
      = link_to "See more...", projects_path(:search => {:order => :descend_by_created_at})
