<div id="home">
  <div id="featured">
    <h2>Featured New Project</h2>
    <% featured_project = Project.created_at_greater_than_or_equal_to(Time.now - 30.days).descend_by_win_votes.first %>
    <h3><%= featured_project.title %></h3>
    <div id="featured-image">
      <%= preview_image(featured_project, :normal) %>
    </div>
    <div id="featured-content">
      <%= "Author: " + featured_project.user.login %><br/>
      <%= "Category: " + featured_project.category.name %><br/>
      <%= "Downloads: " + featured_project.downloads.to_s %><br/>
      <%= "Win votes: " + featured_project.win_votes.to_s %><br/>
      <%= "Fail votes: " + featured_project.fail_votes.to_s %><br/>
      <br/>
      <%= truncate featured_project.versions.last.description, 700 %>
      <%= link_to "Read more", user_project_path(featured_project.user, featured_project) %>
    </div>
  </div>
  <div id="most-downloaded">
    <h3>Most Downloaded Projects</h3>
    <% Project.descend_by_downloads.first(5).each do |project| %>
      <%= link_to(
        project.title + " (" + project.downloads.to_s + " downloads)",
        user_project_path(project.user, project)
      )%><br />
    <% end %>
    <br />
    <%= link_to "See more...", projects_path(:search => {:order => :descend_by_downloads}) %>
  </div>
  <div id="highest-rated">
    <h3>Highest Rated Projects</h3>
    <% Project.descend_by_win_votes.first(5).each do |project| %>
      <%= link_to(
        project.title + " (" + project.win_votes.to_s + " win votes)",
        user_project_path(project.user, project)
      )%><br />
    <% end %>
    <br />
    <%= link_to "See more...", projects_path(:search => {:order => :descend_by_win_votes}) %>
  </div>
  <div id="latest">
    <h3>Latest Projects</h3>
    <% Project.descend_by_created_at.first(5).each do |project| %>
      <%= link_to(
        project.title + " (" + project.created_at.strftime('%b %d %Y, %I:%m %p') + ")",
        user_project_path(project.user, project)
      )%><br />
    <% end %>
    <br />
    <%= link_to "See more...", projects_path(:search => {:order => :descend_by_created_at}) %>
  </div>
</div>

