<div id="home">
  <div id="featured">
    <% if @featured_project %>
      <h2>Featured New Project</h2>
      <h3><%= @featured_project.title %></h3>
      <div id="featured-image">
        <%= preview_image(@featured_project, :normal) %>
      </div>
      <div id="featured-content">
        <%= "Author: " + @featured_project.user.login %><br/>
        <%= "Category: " + @featured_project.category.name %><br/>
        <%= "Downloads: " + @featured_project.downloads.to_s %><br/>
        <%= "Win votes: " + @featured_project.win_votes.to_s %><br/>
        <%= "Fail votes: " + @featured_project.fail_votes.to_s %><br/>
        <br/>
        <%= truncate @featured_project.versions.last.description, 700 %>
        <%= link_to "Read more", user_project_path(@featured_project.user, @featured_project) %>
      </div>
    <% else %>
      <h2>
        BulletForge is still in beta.
      </h2>
      <p>
          We need more projects from people like you! <br />
        <%- unless current_user%>
          <%= link_to "Signup to upload a project now!", new_user_path %><br />
          <br />
          Already have an account?<br />
          <%= link_to "Log in now!", login_path %>
        <%- end %>
  
        <%= link_to "Upload a project now!", new_user_project_path(current_user) if current_user %>
      </p>
    <% end %>
  </div>
  <div id="most-downloaded">
    <h3>Most Downloaded Projects</h3>
    <% Project.descend_by_downloads.first(5).each do |project| %>
      <%= link_to(
        project.title + " (" + project.downloads.to_s + " downloads)",
        user_project_path(project.user, project)
      )%><br />
    <% end %>
    <br />
    <%= link_to "See more...", projects_path(:search => {:order => :descend_by_downloads}) %>
  </div>
  <div id="highest-rated">
    <h3>Highest Rated Projects</h3>
    <% Project.descend_by_win_votes.first(5).each do |project| %>
      <%= link_to(
        project.title + " (" + project.win_votes.to_s + " win votes)",
        user_project_path(project.user, project)
      )%><br />
    <% end %>
    <br />
    <%= link_to "See more...", projects_path(:search => {:order => :descend_by_win_votes}) %>
  </div>
  <div id="latest">
    <h3>Latest Projects</h3>
    <% Project.descend_by_created_at.first(5).each do |project| %>
      <%= link_to(
        project.title + " (" + project.created_at.strftime('%b %d %Y, %I:%m %p') + ")",
        user_project_path(project.user, project)
      )%><br />
    <% end %>
    <br />
    <%= link_to "See more...", projects_path(:search => {:order => :descend_by_created_at}) %>
  </div>
</div>

