<section class="text-center">
  <%= image_tag 'logo.svg', style: 'max-height: 250px' %>
  <div class="mt-5">
    <%= render "shared/search" %>
  </div>

  <div class="mt-5 mb-2">
    <% if can?(:destroy, UserSession) %>
      <%= link_to "Publish Danmaku Project", new_user_project_path(current_user), class: "btn btn-outline-primary btn-lg" %>
    <% else %>
      <div>
        <%= link_to "Sign In to Publish", login_path, class: "btn btn-outline-primary btn-lg me-2" %>
      </div>

      <h5 class="text-muted fw-light my-2">or</h5>

      <div>
        <%= link_to "Sign Up", new_user_path %>
      </div>
    <% end %>
  </div>
</section>

<% content_for :social_header do %>
  <%= tag :meta, property: "og:title", content: @title %>
  <%= tag :meta, property: 'og:description', content: @description %>
  <%= tag :meta, property: 'og:image', content: asset_url('logo.svg') %>
  <%= tag :meta, property: 'twitter:card', content: "summary_large_image" %>
  <%= tag :meta, property: 'twitter:image', content: asset_url('logo.svg') %>
<% end %>
