#home
  #announcements
    %h2
      BulletForge is still in beta.
    %p
      We need more projects from people like you!
      %br
      - unless current_user
        = link_to "Signup to upload a project now!", new_user_path
        %br
        %br
        Already have an account?
        %br
        = link_to "Log in now!", login_path
      = link_to "Upload a project now!", new_user_project_path(current_user) if current_user
  - if @featured_project
    #featured
      %h2
        Featured Project
      %h3
        = link_to @featured_project.title, user_project_path(@featured_project.user, @featured_project)
      #featured-image
        - unless @featured_project.youtube_video_id.blank?
          = render :partial => 'versions/youtube', :locals => {:project => @featured_project}
        - else
          = preview_image(@featured_project, :normal)
      #featured-content
        - if @featured_project.versions.last.archive
          .download-now
            =link_to "Download Now", user_project_version_archive_path(@featured_project.user, @featured_project, @featured_project.versions.last)
        .author.stats
          .title Author:
          .content= link_to @featured_project.user.login, user_path(@featured_project.user)
          %br{:style=>"clear:both"}
        .category.stats
          .title Category:
          .content= @featured_project.category.name
          %br{:style=>"clear:both"}
        .downloads.stats
          .title Downloads:
          .content= @featured_project.downloads.to_s
          %br{:style=>"clear:both"}
        .comments.stats
          .title Comments:
          .content
            = @featured_project.versions.last.comments.count
            = link_to "(see all comments)", user_project_version_path(@featured_project.user, @featured_project, @featured_project.versions.last, :anchor => "comments")
          %br{:style=>"clear:both"}
        .win-votes.stats
          .title Win votes:
          .content
            = @featured_project.win_votes.to_s
            - if can? :create, @featured_project.versions.last.votes.build
              - if current_user && !current_user.voted_on?(@featured_project.versions.last)
                = link_to "(Vote Up)", user_project_version_votes_path(@featured_project.user, @featured_project, @featured_project.versions.last, :format => :json), :id => "vote_up"
          %br{:style=>"clear:both"}
        .fail-votes.stats
          .title Fail votes:
          .content
            = @featured_project.fail_votes.to_s
            - if can? :create, @featured_project.versions.last.votes.build
              - if current_user && !current_user.voted_on?(@featured_project.versions.last)
                = link_to "(Vote Down)", user_project_version_votes_path(@featured_project.user, @featured_project, @featured_project.versions.last, :format => :json), :id => "vote_down"
          %br{:style=>"clear:both"}
        .description
          .title
            Description
          .content
            = truncate @featured_project.versions.last.description, 700
            = link_to "Read more", user_project_path(@featured_project.user, @featured_project)
