.row
  .span6
    %strong Author:
    = link_to project.user.login, user_path(project.user)
    %br

    %strong Category:
    = project.category.name
    %br

    %strong Danmakufu Version:
    = project.danmakufu_version.name
    %br

    %strong Tags:
    = tag_list project
    %br

    %strong Last updated at:
    = project.updated_at.strftime('%B %e %Y, %I:%M %p')
    %br

  .span6
    #archive
      = render :partial => 'archive', :locals => {:user => user, :project => project}
    %strong Downloads:
    = @project.downloads

%br

%br
.well
  = simple_format @project.description
