= bootstrap_form_with model: [@user, @project], local: true do |f|
  = f.text_field :title
  = f.collection_select :danmakufu_version_id, DanmakufuVersion.all, :id, :name
  = f.text_field :version_number
  = f.collection_select :category_id, Category.all, :id, :name
  = f.text_area :description, label: 'Description (Markdown Syntax)', rows: 8, id: 'easymde'
  :javascript
    new EasyMDE({
      autoDownloadFontAwesome: false,
      element: document.getElementById('easymde'),
      minHeight: '300px',
      spellChecker: false
    });
  = f.text_field :tag_list, value: @project.tag_list.to_s, label: "Tags", help: "Tags are separated by commas"
  .mb-3
    = f.check_box :unlisted, label: "Unlisted?"
    %small.form-text.text-muted
      Unlisted projects will not show up in search or on the front page.
  = f.file_field :script_archive, direct_upload: true, label: "Danmaku Script", accept: Project::SCRIPT_ARCHIVE_CONTENT_TYPES.join(','), help: "Valid formats: .zip, .7z, .rar, .tar, .gz"
  = f.file_field :cover_images, direct_upload: true, multiple: true, label: "Images", accept: Project::COVER_IMAGE_CONTENT_TYPES.join(','), help: "Multiples are allowed. Valid formats: .jpeg, .png"
  .d-grid
    = f.submit class: 'btn btn-outline-primary'
