%h1
  Projects
  - if @user
    %small.text-muted
      by
      = @user.login

- if @projects.size > 0
  .mb-4
    .my-2
      = paginate @projects, theme: 'bootstrap-5', pagination_class: "pagination-sm flex-wrap justify-content-center"
    .my-2.d-flex.justify-content-center
      %label.fw-normal Order:
      = order @search, by: :created_at, as: "Created Date", class: "mx-1"
      = order @search, by: :updated_at, as: "Updated Date", class: "mx-1"
      = order @search, by: :title, as: "Title", class: "mx-1"
      = order @search, by: :downloads, as: "Downloads", class: "mx-1"

  .row.row-cols-sm-1.row-cols-md-2.row-cols-lg-3
    - @projects.each_with_index do |p, i|
      .col
        = render partial: 'shared/project', locals: { project: p }

  = paginate @projects, theme: 'bootstrap-5', pagination_class: "my-2 pagination-sm flex-wrap justify-content-center"
- else
  .mb-4
    .alert.alert-secondary
      No projects found.
