.page-header
  %h1 Creating New Project
.row
  = semantic_form_for setup_project(@project), :url => user_projects_path(@user) do |form|
    = form.inputs do
      = form.input :title, :required => true
      = form.input :danmakufu_version
      = form.input :version_number, :required => true
      = form.input :category
      = form.input :description
      = form.input :tag_list, :label => "Tags", :hint => "Tags are separated by commas"
      = form.input :unlisted, :label => "Unlisted?", :hint => "Unlisted projects will not show up in search or on the front page."
    %br
    = form.semantic_fields_for :archive, @project.archive do |archive|
      = archive.inputs do
        - if archive.object.new_record?
          = archive.input :attachment, as: :file, :label => "Upload Script Archive", input_html: { direct_upload: true }
        - else
          = archive.input :attachment, as: :file, :label => "Replace Script Archive", input_html: { direct_upload: true }
    %br
    = form.semantic_fields_for :images do |image|
      = image.inputs do
        - if image.object.new_record?
          = image.input :attachment, as: :file, :label => "Image attachment", input_html: { direct_upload: true }
        - else
          = image_tag preview_image_url(image.object, :thumb)
          = image.input :_destroy, :label => "Remove", :as => :boolean

    = form.actions

