<% if @project.versions.count == 0 %>
  <h1><%= @project.title %></h1>
  <% if current_user && current_user.is_owner_of(@project) %>
    <%= link_to "Edit", edit_user_project_path(@user, @project) %> |
    <%= link_to "Delete", user_project_path(@user, @project), :method => :delete, :confirm => "Are you sure you want to delete this project?" %> |
    <%= link_to "New Version", new_user_project_version_path(@user, @project) %>
  <% end %>

  <p>No versions have been added to this project yet.</p>
<% else %>
  <%= render :partial => 'shared/version', :locals => {:user => @user, :project => @project, :version => @project.versions.last} %>
<% end %>