%h3 Latest comments

- version.comments.order("created_at DESC").limit(5).each do |comment|
  = render :partial => 'shared/comment', :locals => {:user => user, :project => project, :version => version, :comment => comment, :destroy_path => 'version'}

%br
= link_to "See all comments ("+version.comments.count.to_s+")", user_project_version_comments_path(user, project, version)

- if can?(:create, Comment)
  - form_for :comment, :url => user_project_version_comments_path(user, project, version) do |f|
    = f.hidden_field :author_id, :value => current_user.id
    = f.text_area :content, :style => "width:400px; height:250px;"
    %br
    = f.submit 'Post Comment'
- else
  %p
    You must be logged in to comment.
