<h3>Latest comments for this version</h3>
<% version.comments.descend_by_created_at.first(5).each do |comment| %>
  <%= render :partial => 'shared/comment', :locals => {:user => user, :project => project, :version => version, :comment => comment, :destroy_path => 'version'} %>
<% end %>
<%= link_to "See all comments ("+version.comments.count.to_s+")", user_project_version_comments_path(user, project, version)%>

<% if permitted_to?(:create, :comments) %>
  <% form_for :comment, :url => user_project_version_comments_path(user, project, version) do |f| %>
    <%= f.hidden_field :author_id, :value => current_user.id %>
    <%= f.hidden_field :commentable, :value => version %>
    <%= f.text_area :content %><br />
    <%= f.submit 'Post Comment' %>
  <% end %>
<% else %>
  <p>You must be logged in to comment.</p>
<% end %>
