<%if can? :update, @project %>
  <div id="management-toolbar">
    <%= link_to "New Version", new_user_project_version_path(@user, @project) %>
    |
    <%= link_to "Edit Version", edit_user_project_version_path(@user, @project, @version) %>

    <% if @project.versions.count > 1 %>
      |
      <%= link_to("Delete Version",
        user_project_version_path(@user, @project, @version),
        :method => :delete,
        :confirm => "Are you sure you want to delete this version?") 
      %>
    <% end %>
    <br />
    <%= link_to "Edit Project", edit_user_project_path(@user, @project) %> |
    <%= link_to "Delete Project", user_project_path(@user, @project),
      :method => :delete,
      :confirm => "Are you sure you want to delete this project?"
    %>
  </div>
<% end %>
