<% permitted_to? :edit, @project do %>
  <div id="management-toolbar">
    <span id="toolbar-heading">Management Toolbar</span><br/>
    <%= link_to "New Version", new_user_project_version_path(@user, @project) %> |
    <%= link_to "Edit Version", edit_user_project_version_path(@user, @project, @version) %>
    <%= "|" + link_to("Delete Version",
      user_project_version_path(@user, @project, @version),
      :method => :delete,
      :confirm => "Are you sure you want to delete this version?") if
        @project.versions.count > 1
    %>
    <br />
    <%= link_to "Edit Project", edit_user_project_path(@user, @project) %> |
    <%= link_to "Delete Project", user_project_path(@user, @project),
      :method => :delete,
      :confirm => "Are you sure you want to delete this project?"
    %>
  </div>
<% end %>