.row
  .span6
    %strong Version win:
    = version.votes_for
    %br
    %strong Version fail:
    = version.votes_against
  .span6
    %strong Total win:
    = project.win_votes
    %br
    %strong Total fail:
    = project.fail_votes

.row
  .span12
    - if can? :create, version.votes.build
      - unless current_user.voted_on?(version)
        = link_to "Vote Up", user_project_version_votes_path(user, project, version, :format => :json), :id => "vote_up"
        |
        = link_to "Vote Down", user_project_version_votes_path(user, project, version, :format => :json), :id => "vote_down"
      - else
        You voted
        = "win." if current_user.voted_for?(version)
        = "fail." if current_user.voted_against?(version)
