= render :partial => 'management_toolbar', :locals => {:user => @user, :project => @project, :version => @version}

%section#project-show
  .page-header
    %h1
      = h(@project.title)
      %small
        version
        = h(@version.version_number)

  %ul.nav.nav-tabs
    %li.active
      %a{ :href => "#details", :"data-toggle" => "tab" }
        Details
    %li
      %a{ :href => "#images", :"data-toggle" => "tab" }
        Images
    %li
      %a{ :href => "#video", :"data-toggle" => "tab" }
        Video
    %li
      %a{ :href => "#versions", :"data-toggle" => "tab" }
        Versions

  .tab-content
    #details.tab-pane.active
      = render :partial => "details", :locals => {:user => @user, :project => @project, :version => @version}

    #images.tab-pane
      = render :partial => "images", :locals => {:project => @project}

    #video.tab-pane
      = render :partial => "youtube", :locals => {:project => @project}

    #versions.tab-pane
      = render :partial => "version_list", :locals => {:user => @user, :project => @project}
