%ul.navbar-nav.mt-2.mt-lg-0
  - if can? :destroy, UserSession
    %li.nav-item= link_to current_user.login, user_path(current_user), class: "nav-link"
    %li.nav-item= link_to "Log Out", logout_path, class: "nav-link"
    - if can?(:create, current_user.projects.build)
      %li.nav-item= link_to("New Project", new_user_project_path(current_user), class: "nav-link")

  - if can? :create, UserSession
    %li.nav-item= link_to "Login", login_path, class: "nav-link"
    %li.nav-item= link_to "Register", new_user_path, class: "nav-link"
