%ul.navbar-nav
  %li.nav-item.dropdown
    - if can?(:destroy, UserSession)
      %a#navbarDropdown.nav-link.dropdown-toggle{
        href: '#',
        role: "button",
        "data-bs-toggle": "dropdown",
        "aria-expanded": "false"
      }
        = current_user.login

      %ul.dropdown-menu.dropdown-menu-dark.dropdown-menu-end{"aria-labelledby": "navbarDropdown"}
        - if can?(:create, current_user.projects.build)
          %li= link_to("Publish Project", new_user_project_path(current_user), class: 'dropdown-item')
          %li= link_to "My Projects", user_path(current_user), class: 'dropdown-item'
        %li= link_to "Settings", edit_user_path(current_user), class: 'dropdown-item'
        %li
          %hr.dropdown-divider
        %li= link_to "Sign Out", logout_path, class: 'dropdown-item'

    - if can?(:create, UserSession)
      %li.nav-item= link_to "Sign In", login_path, class: 'nav-link'
      %li.nav-item= link_to "Register", new_user_path, class: 'nav-link'
