.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to "BulletForge", "#", :class => "brand"
      %ul.nav
        %li= link_to "Home", root_path
        %li= link_to "Browse", projects_path
        %li= link_to "Users", users_path
        %li= link_to "Adv. Search", search_path
      = render :partial => "layouts/search"
      = render :partial => "layouts/login"