!!!
%html{html_attrs}
  %head
    - if no_bot_index?
      %meta{:name => "robots", :content => "noindex"}

    %meta{"http-equiv" => 'Content-Type', :content => 'text/html;charset=utf-8'}
    %title= h(@title || "BulletForge")
    %meta{ :name => "keywords", :content => "danmakufu scripts, danmakufu projects, danmakufu, shmup, game scripts" }
    %meta{ :name => "description", :content => "Dedicated Danmakufu Project Hosting" }

    - if Time.now.month == 4 && Time.now.day == 1
      = stylesheet_link_tag '/stylesheets/geo-bootstrap'
    - else
      = stylesheet_link_tag '/stylesheets/bootstrap'
    = stylesheet_link_tag '/stylesheets/formtastic'
    = stylesheet_link_tag '/stylesheets/formtastic-overrides'

    = javascript_include_tag '/javascripts/jquery.min', '/javascripts/jquery.metadata', '/javascripts/jquery_ujs'
    = javascript_include_tag '/javascripts/json2', '/javascripts/s3_upload.js', '/javascripts/s3_upload_callbacks.js'
    = javascript_include_tag '/javascripts/bootstrap-alert', '/javascripts/bootstrap-tab', '/javascripts/application'
  %body

    = render :partial => 'layouts/navbar'

    .container{ :style => "padding-top: 80px;"}
      .alert.alert-notice.fade.in
        New user registration is now open again!
        %br
        Also, new development on BulletForge is now under way.
        = link_to "Join the Discord server", "https://discord.gg/vfHHsCn"
        for progress updates and to request features!
      - if flash[:notice]
        .alert.alert-success.fade.in
          %a.close{ :"data-dismiss" => "alert", :href => "#" } ×
          = flash[:notice]
      - if flash[:error]
        .alert.alert-error.fade.in
          %a.close{ :"data-dismiss" => "alert", :href => "#" } ×
          = flash[:error]

      = yield

      %br
      %br

    - if Rails.env.production?
      :javascript
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      :javascript
        try {
          var pageTracker = _gat._getTracker("UA-15014212-1");
          pageTracker._trackPageview();
        } catch(err) {}
