!!!
%html{html_attrs}
  %head
    %meta{"http-equiv" => 'Content-Type', :content => 'text/html;charset=utf-8'}
    %title= h(@title || "BulletForge")
    %meta{ :name => "keywords", :content => "danmakufu scripts, danmakufu projects, danmakufu, shmup, game scripts" }
    %meta{ :name => "description", :content => "Dedicated Danmakufu Project Hosting" }
    = stylesheet_link_tag 'bootstrap'
    = javascript_include_tag 'json2', 'jquery-1.3.2', 'jquery.metadata', 's3_upload.js', 's3_upload_callbacks.js', 'application'
  %body
    = render :partial => 'layouts/navbar'
    #content.container
      - if flash[:notice]
        .flash.notice= flash[:notice]
      - if flash[:error]
        .flash.errors= flash[:error]
      = yield  
    #footer
      #most-downloaded
        .content
          %h3 Most Downloaded
          - Project.order('downloads DESC').limit(5).each do |project|
            = link_to( project.title + " (" + project.downloads.to_s + " downloads)", user_project_path(project.user, project) )
            %br
          %br
          = link_to "See more...", projects_path(:search => {:order => :descend_by_downloads})

      #highest-rated
        .content
          %h3
            Highest Rated
          - Project.order('win_votes DESC').limit(5).each do |project|
            = link_to( project.title + " (" + project.win_votes.to_s + " win votes)", user_project_path(project.user, project) )
            %br
          %br
          = link_to "See more...", projects_path(:search => {:order => :descend_by_win_votes})

      #latest
        .content
          %h3
            Latest
          - Project.order('created_at DESC').limit(5).each do |project|
            = link_to( project.title + " (" + project.created_at.strftime('%b %d %Y, %I:%m %p') + ")", user_project_path(project.user, project) )
            %br
          %br
          = link_to "See more...", projects_path(:search => {:order => :descend_by_created_at})

    - if Rails.env.production?
      :javascript
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      :javascript
        try {
          var pageTracker = _gat._getTracker("UA-15014212-1");
          pageTracker._trackPageview();
        } catch(err) {}
