!!!
%html{html_attrs}
  %head
    - if no_bot_index?
      %meta{:name => "robots", :content => "noindex"}

    %meta{charset: 'utf-8'}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}

    %title= h(@title || "BulletForge")
    %meta{ :name => "keywords", :content => "danmakufu scripts, danmakufu projects, danmakufu, shmup, game scripts" }
    %meta{ :name => "description", :content => "Dedicated Danmakufu Project Hosting" }

    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all'

  %body
    = render :partial => 'layouts/navbar'

    .container.mt-4
      .alert.alert-warning.fade.show
        New user registration is now open again!
        %br
        Also, new development on BulletForge is now under way.
        = link_to "Join the Discord server", "https://discord.gg/vfHHsCn"
        for progress updates and to request features!
      - if flash[:notice]
        .alert.alert-success.fade.show
          = flash[:notice]
          %button.close{ "data-dismiss": "alert", type: "button" }
            %span{"aria-hidden": "true"}
              &times
      - if flash[:error]
        .alert.alert-danger.fade.show
          = flash[:error]
          %button.close{ "data-dismiss": "alert", type: "button" }
            %span{"aria-hidden": "true"}
              &times
      = yield

    = javascript_pack_tag 'application'

