!!!
%html{html_attrs}
  %head
    - if no_bot_index?
      %meta{:name => "robots", :content => "noindex"}

    %meta{charset: "UTF-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %meta{"http-equiv" => 'Content-Type', :content => 'text/html;charset=utf-8'}
    %title= @title || "BulletForge"
    %meta{ :name => "keywords", :content => "danmakufu scripts, danmakufu projects, danmakufu, shmup, game scripts" }
    %meta{ :name => "description", :content => @description || "Dedicated Danmakufu Project Hosting" }
    = csrf_meta_tags

    = stylesheet_pack_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
  %body.vh-100.d-flex.flex-column
    %header.flex-shrink-0
      = render :partial => 'layouts/navbar'
    %main.flex-grow-1
      - if flash[:notice]
        .alert.alert-success.alert-dismissible{role: 'alert'}
          = flash[:notice]
          %button.btn-close{ 'data-bs-dismiss': 'alert', 'aria-label': 'Close' }
      - if flash[:error]
        .alert.alert-danger.alert-dismissible{role: 'alert'}
          = flash[:error]
          %button.btn-close{ 'data-bs-dismiss': 'alert', 'aria-label': 'Close' }
      .container-lg.pt-5
        = yield
    %footer.flex-shrink-0
      = render :partial => 'layouts/footer'

    - if Rails.env.production?
      :javascript
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      :javascript
        try {
          var pageTracker = _gat._getTracker("UA-15014212-1");
          pageTracker._trackPageview();
        } catch(err) {}
