!!!
%html{html_attrs}
  %head
    %meta{"http-equiv" => 'Content-Type', :content => 'text/html;charset=utf-8'}
    %title= h(@title || "BulletForge")
    %meta{ :name => "keywords", :content => "danmakufu scripts, danmakufu projects, danmakufu, shmup, game scripts" }
    %meta{ :name => "description", :content => "Dedicated Danmakufu Project Hosting" }
    = javascript_include_tag 'json2', 'jquery-1.3.2', 'jquery.metadata', 'swfupload', 'swfupload.queue', 'swfupload_plugin', 'application'
    = stylesheet_link_tag "screen", :media => "screen, projection"
    = stylesheet_link_tag "formtastic", :media => "screen, projection"
    = stylesheet_link_tag "formtastic_changes", :media => "screen, projection"
    = stylesheet_link_tag "print", :media => "print"
    /[if IE]
      = stylesheet_link_tag "ie", :media => "screen, projection"
  %body
    #wrapper
      #header
        %h1#logo= link_to "BulletForge", root_path
        = render :partial => 'shared/login'
        = render :partial => 'shared/search_form'
      #content
        - if flash[:notice]
          .flash.notice= flash[:notice]
        - if flash[:error]
          .flash.errors= flash[:error]
        = yield
    - if !Rails.env.production?
      :javascript
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      :javascript
        try {
          var pageTracker = _gat._getTracker("UA-15014212-1");
          pageTracker._trackPageview();
        } catch(err) {}
