!!!
%html{html_attrs}
  %head
    - if no_bot_index?
      %meta{:name => "robots", :content => "noindex"}

    %meta{"http-equiv" => 'Content-Type', :content => 'text/html;charset=utf-8'}
    %title= h(@title || "BulletForge")
    %meta{ :name => "keywords", :content => "danmakufu scripts, danmakufu projects, danmakufu, shmup, game scripts" }
    %meta{ :name => "description", :content => "Dedicated Danmakufu Project Hosting" }
    = csrf_meta_tags

    = stylesheet_pack_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
  %body.vh-100.d-flex.flex-column
    .flex-shrink-0
      = render :partial => 'layouts/navbar'
    .flex-grow-1.d-flex.flex-column
      - if flash[:notice]
        .alert.alert-success.fade.in
          %a.close{ :"data-dismiss" => "alert", :href => "#" } ×
          = flash[:notice]
      - if flash[:error]
        .alert.alert-error.fade.in
          %a.close{ :"data-dismiss" => "alert", :href => "#" } ×
          = flash[:error]

      .container-lg.d-flex.flex-grow-1.flex-column
        = yield

    - if Rails.env.production?
      :javascript
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      :javascript
        try {
          var pageTracker = _gat._getTracker("UA-15014212-1");
          pageTracker._trackPageview();
        } catch(err) {}
